@page "/createTodo"
@using API.DTOs
@using API.Services
@inject TodoService TodoService
@inject NavigationManager NavigationManager

<h1>Create todo</h1>

<TodoForm todoModel="todoModel" SubmitModel="@Sumbit"></TodoForm>

@code {
    private TodoDto todoModel = new TodoDto();

    public void Sumbit()
    {
        TodoService.Add(todoModel);
        NavigationManager.NavigateTo("/");
    }
}
