@using API.DTOs
<EditForm method="post" OnSubmit="Sumbit" Model="todoModel">
    <div class="mb-3">
        <label class="form-label">Title:

        </label>
        <InputText class="form-control" @bind-Value="todoModel.Title"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Description:
        </label>
        <InputText class="form-control" @bind-Value="todoModel.Description"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Assignee:
        </label>
        <InputText class="form-control" @bind-Value="todoModel.Assignee"></InputText>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter] public TodoDto todoModel { get; set; } = new TodoDto();
    [Parameter] public EventCallback SubmitModel { get; set; }

    public void Sumbit()
    {
        SubmitModel.InvokeAsync();
    }
}
